@font-face {
  font-family: 'Viga';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Viga-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bowlby';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/BowlbyOneSC-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-viga-reg), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
